.hero {
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  grid-gap: 25px;
  color: #373F49;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 25px 0;
  background-color: #f0f0f0;
}

.heroBg {
  position: relative;
  background-color: #f0f0f0;
}

.heroImage {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.heroDetails {
  font-size: 20px;
  padding: 0 0.5em;
  margin: 0;
}

.heroHeadline {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}


.heroTitle {
  margin: 0;
  font-size: 22px;
}