.navigation {
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 0;
  height: 15vh;
  max-height: 65px;
  font-size: 1.25em;
}

.navigationLogo {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: currentColor;
  text-decoration: none;
}
